body {
  background-color: grey;
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

ul {
  background: white;
  padding: 20px;
}



form {
  align-self: center;

}

button {
  margin-right: 20px;
}
